.abt
{
    background-color: #f7f2f299;
    
}
p{
    margin-left: 220px;
    margin-right: 220px;
    text-align: justify;
    padding-bottom: 90PX;
    font-size: 25px;
}
h1
{
    padding-top: 90px;
    text-align: center;
}