.topic
{
    margin-top: 50px;
}
.contact
{
width: 60%;
padding: 10px 18px;
    margin: 8px 0;
}
.label
{
margin-left: -794px;
}
.button
{
position: absolute;
    right: 256px;
    padding: 5px 75px 5px;
}
