.products {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 25px;
}

img {
    width: 440px;
    height: 440px;

}

.add {
    font-size: 17px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: white;
    /* display: none; */
    opacity: 0;
}

.image:hover {
    cursor: pointer;
}

.image:hover .add {
    /* display: block; */
    opacity: 1;
}